/* Error: There is no module with the namespace "string".
 *   ,
 * 5 |     background-color: string.unquote('##{$i}00000');
 *   |                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   1-SCSSEjercicios/scss/ejemplo8.scss 5:23  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: There is no module with the namespace \"string\".\a   \2577 \a 5 \2502      background-color: string.unquote('##{$i}00000');\a   \2502                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   1-SCSSEjercicios/scss/ejemplo8.scss 5:23  root stylesheet";
}
