@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #1c92d2, #f2fcfe);
    font-family: 'Rubik Distressed', cursive;
}

/* contenedor principal */
.gallery {
    width: 90%;
    max-width: 1200px;
    /* margin: 0 auto; */
    margin-inline: auto;
    padding: 60px 0;
}

/* título */
.gallery__title {
    font-size: 2.6rem;
    margin-bottom: 1em;
    text-align: center;
}

/* flex container */
.gallery__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 350px;
    gap: 20px;
}

/* flex items */
.gallery__figure {
    height: 350px;
    width: 350px;
}

/* imágenes responsive */
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}