* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightblue;
}

.container {
    outline: 2px dashed black;
    background-color: white;
    margin: 50px auto;
    height: 600px;
    max-width: 800px;
    width: 90%;
    display: grid;
    /* grid-template-columns: repeat(autofill, 200px);
    grid-template-columns: repeat(autofill, minmax(200px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 150px;
}

.box {
    border: 2px solid white;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
    /* height: 150px; */
    width: 150px;

    line-height: 130px;
    text-align: center;
}

.first {
    background-color: firebrick;

}

.second {
    background-color: limegreen;

}

.third {
    background-color: dodgerblue;

}

.fourth {
    background-color: goldenrod;

}

.fifth {
    background-color: violet;


}