* {}


.header_img {
    max-height: 600px;
    display: block;
}

.show {
    position: fixed; /* se posiciona al nav y se queda fijo (por el transform)*/
    /* el elemento fixed se comporta  */
    width: 100%;
    height: 100%;
    background-color: rgba(68, 67, 67, 0.76);
    top: 0;
    left: 0;


    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateX(100%);
    transition: transform .5s;
}

.show__image{
    width: 90%;
    height: 70%;




}

/* X para cerrar */
.show__close{
    background-color: crimson;
    color: white;
    font-family: Arial;
        




}