* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.degradado {
  font-size: 7rem;
  background-clip: text;
  background-image: linear-gradient(to right, blue 30%, red 70%);
  color: transparent;
}

.title {
  text-shadow: 2px 2px 1px #8d8d8d;
}

div {
  margin: 30px;
  padding: 20px;
}

.shady {
  box-shadow: 4px 4px 5px #56ff5e;
}
.shady2 {
  box-shadow: -4px -4px 0px #ff2828;
}
.shady3 {
  box-shadow: 4px 0px 0px #5659ff;
}
.shady4 {
  font-size: 30px;
  width: 120px;
  box-shadow: 4px 4px 0px 2px rgba(255, 118, 237, 0, 5),
    8px 8px 0px 2px rgba(255, 178, 232, 0.5);
}
.sombrasMultiples {
    width: 100px;
    height: 100px;
    margin-top: 80px;
    box-shadow: rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5);
}
