/* Error: Undefined variable.
 *    ,
 * 22 |       background-color: $color1s;
 *    |                         ^^^^^^^^
 *    '
 *   0-SCSS/scss/ejemplo.scss 22:25  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 22 \2502        background-color: $color1s;\a    \2502                          ^^^^^^^^\a    \2575 \a   0-SCSS/scss/ejemplo.scss 22:25  root stylesheet";
}
