* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.picture {
    height: 300px;
}

.picture__img {
    height: 300px;
}