* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture {
    position: relative;
    overflow: hidden;

}

.picture__img {


    height: 300px;
    display: block;

}

.picture__container {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 200px;
    background-color: rgba(0, 49, 139, 0.26);
    padding: 60px 20px;


  

}

.picture:hover .picture__container {
    /* estado final */
    transform: translate(0, 0) rotate(360deg);
}


.picture__texts {
    color: white;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 8px;
    margin-bottom: 1rem;
}

.picture__title {
    border-bottom: 4px solid;
}