:root {
  --card-min: 250px;
  --card-max: 350px;
  --radius: 20px;
  /* --shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.644) ; */
  --border: 1px solid lightgrey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 3rem 1rem;
}

.hero-card {
  background-color: white;
  min-width: var(--card-min);
  max-width: var(--card-max);
  width: 100%;
  padding: 2rem 1rem;
  border-radius: var(--radius);
  border: var(--border);
  display: flex;
  flex-direction: column;
  text-align: center;
}
