.btn {
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #333;
  padding: 20px;
  text-align: center;
}

.btn-success {
  @extend .btn;
  border-color: green;
}
.btn-error {
  @extend .btn;
  border-color: red;
}
.btn-warning {
  @extend .btn;
  border-color: yellows;
}
