// Variables
$main_color: cadetblue;
$secondary_color: chocolate;

// BEM (Bloque, Elemento. Modificador)
// Bloque Card
.card {
    border: 2px solid $secondary_color;
    color: $main_color;
    // mas propiedades de la card.....

    &--grid {
        font-size: 3rem;
        text-align: center;
    }
    &--img  {
        display: block;
        width: 100%;
    }
    &--btn  {
        border: 1px solid black;
        border-radius: 5px;
        color: $secondary_color;
        padding: 1rem;
    }
    &--tomato  {
        color: tomato;
    }
    &--lime  {
        color: lime;
    }


}