// Este archivo es un partial será incluido en otro
// no se compila
// el nombre del archivo debe empezar por _
$body-color: #666666!default;
$h1-color: #4a47fa!default;
$body-font-size: 3rem!default;
$h1-size: 3.4rem!default;
