* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.globo-2026 {
    width: 500px;
    margin-top: 100px;
    display: block;

}

#globo {
    animation: mover-glovo;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

#numeros {
    animation: aparicion-numeros;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    
}


@keyframes mover-glovo {
    25% {
        transform: rotate(5deg);
    }

    to {
        transform: translateY(-300px) rotate(-10deg);
    }
}

@keyframes aparicion-numeros {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1.5);
    }
}