@use '../custom' as *;

.logo {
  width: 10rem;
}
.header {
  padding-top: 3rem;
  padding-bottom: 3rem;

  //Reutilizo mixin para media queries propio de Bootstrap
  @include media-breakpoint-up(md) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}
