* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
  background-color: rgb(0, 0, 110);
}

.container {
  margin: 50px auto;
  max-width: 1100px;
  width: 90%;

  display: grid;
  grid-template-columns: 10rem auto 10rem;
  grid-template-rows: 5rem repeat(3, auto) 5rem;

  /* grid-template-areas:
    "header" "header" "header" 
    "navigation" "main"  "sidebar"
    "footer" "footer" "footer" ; */
}

.p {
  line-height: 1.5;
  margin-bottom: 1rem;

}

.header {
  background-color: beige;
  font-size: 1.3rem;
  /* grid-area: header; */
  grid-column: 1/4;
  grid-row: 1/1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  background-color: white;
  /* grid-area: main; */
  grid-column: /;
  grid-row: /;
  padding: 10px;
}

.sidebar {
  background-color: lightsteelblue;
  /* grid-area: sidebar; */
  grid-column: /;
  grid-row: /;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.navigation {
  background-color: lightpink;
  /* grid-area: navigation; */
  grid-column: /;
  grid-row: /;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.navigation__link {
  margin-bottom: 0.5rem;
  margin-right: 0.4rem;
}

.footer {
  background-color: gray;
  /* grid-area: footer; */
  display: flex;
  align-items: center;
  justify-content: center;

  grid-column: /;
  grid-row: /;
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 10rem auto 10rem;
  }

  .header {
    grid-column: 1/-1;
  }

  .main {
    grid-row: 2/5;
    grid-column: 1/2;
  }

  .sidebar {
    grid-row: 2/5;
    grid-column: 3/-1;
  }
}